html body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

header {
    display: block;
    text-align: center;
    background-color: red;
    color:whitesmoke;
}

.title {
    margin-top: 0;
    padding-bottom: 2rem;
}

.banner {
    width: 300px;
}

.arena {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
}

.card {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    border: 6px solid gold;
    background-color: rgb(89, 89, 228);
    border-radius: 8px;
    width: 200px;
    box-shadow: 2px 2px 8px;
}

.poke-img {
    background-color: rgb(161, 156, 156);
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 4px;
    border: 2px solid gold;
}

.poke-stats {
    background-color: whitesmoke;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.fetch-btn {
    font-size: medium;
    background-color: red;
    color: whitesmoke;
    border-radius: 6px;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2em;
    cursor: pointer;
}

.copyright {
    margin-top: 18rem;
    margin-bottom: 2em;
    text-align: center;
    color: gray;
    opacity: 0.5;
}