html body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

header {
    display: block;
    text-align: center;
    background-color: red;
    color:whitesmoke;
}

.title {
    margin-top: 0;
    padding-bottom: 2rem;
}

.banner {
    width: 300px;
}

.arena {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
}

.card {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid gold;
    border-radius: 8px;
    width: 200px;
}

.fetch-btn {
    font-size: medium;
    background-color: rgb(26, 165, 26);
    color: whitesmoke;
    border-radius: 6px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.copyright {
    margin-top: 18rem;
    margin-bottom: 2em;
    text-align: center;
    color: gray;
    opacity: 0.5;
}